<!DOCTYPE html>
<html lang="en">
  <!-- <nav class="inner-nav">
    <a routerLink="/login" id="logo">Login!!!</a>
    <img src="CaseStudy/src/assets/images/Icon.jfif" class="img-responsive">
    <p class="change">Stay at home!! Consult Doctors online.#IndiafightsCorona </p>   
    <a routerLink="/SignUp"> Sign Up</a>  
  </nav>
<body>
  <router-outlet></router-outlet>
</body>
<nav class="footer-nav">
  <p class="footer">hiii all</p>
</nav> -->
<div class="row" id="headerDiv">
<div class="col-lg-6" id="headerLogoDiv">
<p></p></div>
<div class="col-lg-6">
<div class="row" id="headerLinksDiv">
<div class="col-lg-2">
  <a routerLink="/AboutUs">About Us</a>
</div>
<div class="col-lg-2">
  <a routerLink="/SignUp">Sign Up</a>
</div>
<div class="col-lg-2">
  <a routerLink="/login">Login</a>
</div>
<div class="col-lg-4">
  <a routerLink="/Home">Home</a>
</div>
</div>
</div>
</div>
<br>
<br>
<div class="row" id="pageTitileDiv">
<h1 style="margin-left: 650px; font-style: JosefinSans;">Doctor's Appointment Application</h1>
</div>
<br>
<br>
<div>
<p>Welcome to Doctor's Appointment!! Stay at home!! Consult Doctors online.</p></div>

<div class="row" id="contentDiv"> 
  <div class="col-lg-12">
<router-outlet></router-outlet>
</div>
</div>
<hr class="hrLine">
<div class="row" id="footerDiv">
  <div class="col-lg-6">
<p>Follow Us on!!</p>
  </div>
  <div class="col-lg-6">
<p>Contact Us!!</p>
  </div>
</div>
<hr class="hrLine">
<div class="row" id="copyrightsDiv">
<div class="col-lg-5"></div>
<p>Copyrights reserved</p>
</div>
</html>