
.name
{
    font-weight: bold;
    margin-left:30px;
   font-size: larger;
}

.ImgStyle
{
    max-height:150px;
    max-width:300px;
    
}
table,th,td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px,30px;
  }

figure,figcaption{
      text-align: center;
  }