
<!-- <div class="row" id="pageTitileDiv" style="background-color: aqua;" >
    <h1 style="margin-left: 650px; font-style: JosefinSans;">HOME</h1>
    </div> -->
    <p class="name">Hello NAME,,</p>

    <table style="width:75%"> 
    <tr>
    <td>
        <figure>
        <img class="ImgStyle"  src={{image1}}> 
        <figcaption>
            <a routerLink="/Appointment">Book Appointments</a>
        </figcaption>
        </figure>
    </td>
    <td>
        <figure >
        <img class="ImgStyle" src={{image2}}> 
        <figcaption>
        <a routerLink="/Profile">My Profile</a>
        </figcaption>
        </figure>
    </td>
    </tr>
    
    <tr >
    <td>
        <figure>
        <img class="ImgStyle" src={{image3}}> 
        <figcaption> 
        <a href=#>My Appointments</a>
         </figcaption>
         </figure>
    </td>
    <td>
        <figure>
     <img class="ImgStyle" src={{image4}}>
    <figcaption>
    <a href=#>Feedback</a>
    </figcaption>
    </figure>
    </td>
    </tr>
    
    <tr>
    <td>
        <figure>
         <img class="ImgStyle"  src={{image5}}>
         <figcaption>
         <a href=#>ContactUs</a>
        </figcaption>
        </figure>
    </td>
    <td>
        <figure>
        <img class="ImgStyle" src={{image6}}>
        <figcaption>
        <a href=#>AboutUs</a>
    </figcaption>
    </figure>
    </td>
    </tr>
    
    </table> 